body, header, main, footer,
nav, aside, section, article, 
ul, figcaption, figure, form, 
label, div {
    display: flex;
}



header, main, footer, nav, aside, 
section, article, ul, li, a, p, 
h1, h2, h3, span, figcaption, form, 
label, input, textarea, button {
    flex: 1 1 auto;
}

body, body > header, body > main,
body > main > section figcaption,
body > main > section > article,
body > main > section > article ul {
    flex-direction: column;
}

body > header ul, body > header > nav,
body > main > section, footer, footer > ul
body > main > section > article > div {
    flex-direction: row;
}

body > header > ul,
body > header > nav,
body > main, footer > ul  {
    width: 900px;
} 

body {
    direction: rtl;
    text-align: right;
    margin: 0px;
    padding-bottom: 5px;
    font-family: 'Arial (Hebrew)', Arial;
}

body, body > header {
    align-items: center;
}

body > header, footer {
    width: 100%;
}

a {
    text-decoration: none;
    outline: none;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

body > header {
    background: rgb(144,144,144);
    background: linear-gradient(180deg, rgba(144,144,144,1) 0%, rgba(144,144,144,1) 82%, rgba(170,170,170,1) 100%);
    height: 105px;
    margin-bottom: 30px;
}

body > header li a {
    font-size: 15px;
    font-weight: bold;


}

/* main */

#index > main,
#index > main > section {
    justify-content: space-between;
    margin-bottom: 18px;;
}

#index > main > section > figure {
    width: 293px;
    height: 355px;
    margin: 0;
    border-bottom-right-radius: 20px;
    background-size: cover;
    justify-content: flex-start;
    align-items: flex-end;
}



figure.bg-image1 {
    background: url("../img/Retail\ and\ trade.JPG") no-repeat center center; 
}

figure.bg-image2 {
    background: url("../img/Refining.jpg") no-repeat center center;
}


figure.bg-image3 {
    background: url("../img/Industries\ and\ Services.jpg") no-repeat center center;
}

#index figure > figcaption {
    margin: 5px;
    height: 97px;
    max-width: 248px;
    background-color: rgba(144,144,144,0.8);
    border-bottom-right-radius: 20px;
    padding: 5px 10px;
    box-sizing: border-box;  
     
}

#index figure > figcaption > h3,
#index figure > figcaption > p,
#index figure > figcaption > a {    
    color: white;
    margin: 0;    
}

#index figure > figcaption > h3 {
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
}

#index figure > figcaption > a ,
#index figure > figcaption > p {
    font-size: 13px;
    line-height: 13px;
}

#index figure > figcaption > a {
    text-align: left;
    text-decoration: underline;
    padding-top: 4px;
}

#index article {
    border-top-right-radius: 20px;
    border: 2px solid rgb(236,236,236);
    background: rgb(236,236,236);
    background: linear-gradient(0deg, rgba(236,236,236,1) 0%, rgba(254,254,254,1) 90%);
    height: 216px;
    max-width: 293px;
    padding: 0 24px;
    box-sizing: border-box;
}



#index article > h3 {
    padding: 0 4px;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    color: #575757;
    margin: 0px;
    height: 34px;
    flex: 0;
    border-bottom: inset;
}

#index article a {
    color: #72716d;
    text-decoration: underline;
    align-self: flex-end;
}

#index figure > figcaption > a,
#index article a  {
    position: relative;
    padding-left: 10px;
}

#index figure > figcaption > a > span:after,
#index article a > span:after {
    content:"";
    position: absolute;
    display: block;
    
    left: 0;
    top: 6px;
    width: 8px;
    height: 9px;
}

#index figure > figcaption > a > span:after {
    background-image: url("/img/read_more_white.png");
}

#index article a > span:after {
    background-image: url("/img/read_more_yellow.png");   
}

#index article > img {
    margin: 15px 0;
}


/* footer */
footer {
    position: fixed;
    bottom: 0px;
    height: 38px;
    justify-content: center;
    background: rgb(144,144,144);
    background: linear-gradient(0deg, rgba(144,144,144,1) 0%, rgba(144,144,144,1) 82%, rgba(170,170,170,1) 100%);
    font-size: 14px;
}

footer > ul {
    max-width: 900px;
    justify-content: flex-start;
}

footer > ul > li {
    flex: auto;
    position: relative;
}

footer > ul > li:not(:first-child)::before {
    flex: auto;
    color: white;
    font-size: 15px;
    font-weight: bold;
    content: "|";
    position: absolute;
}

footer > ul > li > a {
    padding: 0 10px;
}

#index footer li:last-child > a {
    color: red;
}

footer a[href*="facebook"] {
    display: inline-block;
    background-image: url("../img/fb_icon.png");
    padding: 9px;
}

/*  */

#index figure > figcaption > a:hover,
#index article a:hover, a:hover {
    color: #005ca0;
    text-decoration: underline;
}

#index figure > figcaption > a:hover > span:after,
#index article a:hover > span:after {
    background-image: url("/img/read_more_blue.png");       
}